{% extends "app/layout.html" %}

{% block content %}

<h2>OPE da alegria.</h2>
<h3>Markus Henrique Kohlroser Castro RA 1701653
José Eduardo Nogueira RA 1701682
Vinicius Silva Costa RA 1701232
Thiago Fernandes Couve RA 1701303
Paloma Simões Moreira de Carvalho RA 1600489
Felipe Lucas Almeida RA 1701591
Igor Silva dos Santos RA 1701184
</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
